<template>
  <loading-spinner v-if="loading" class="mt-3"/>
  <div v-else>
    <b-alert v-if="error" variant="danger" show dismissible>{{ error }}</b-alert>
    <b-alert v-if="success" variant="success" show dismissible>Account successfully created!</b-alert>
    <b-form @submit.prevent="create">
      <b-form-group label="Username" label-for="username">
        <b-form-input type="text" v-model="username" id="username"/>
      </b-form-group>
      <b-form-group label="Password" label-for="password" :state="passwordState" invalid-feedback="Password must be at least 6 characters long!">
        <b-form-input type="password" v-model="password" id="password" :state="passwordState"/>
      </b-form-group>
      <b-form-group label="Retype password" label-for="password2" :state="password2State" invalid-feedback="Passwords must match!">
        <b-form-input type="password" v-model="password2" id="password2" :state="password2State"/>
      </b-form-group>
      <b-form-checkbox id="admin" v-model="admin">Create user with admin privledges</b-form-checkbox>
      <p class="mt-3">
        <b-button variant="primary" type="submit" :disabled="!username || !passwordValid || !password2Valid">Create Account</b-button>
      </p>
    </b-form>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-typed"
import Vue from 'vue'
import config from '../config'

@Component({})
export default class Admin_AddUser extends Vue {
  loading = false
  error: null | string = null
  success = false
  username = ''
  password = ''
  password2 = ''
  admin = false

  get passwordValid() {
    return this.password.length >= 6
  }

  get passwordState() {
    return this.password ? this.passwordValid : undefined
  }

  get password2Valid() {
    return this.password2 === this.password
  }

  get password2State() {
    return this.password2 ? this.password2Valid : undefined
  }

  async create() {
    try {
      this.loading = true
      this.error = null
      this.success = false
      await $.ajax(`${config.apiBase}/add-user`, {
        method: 'POST',
        data: {
          token: this.$store.state.authToken,
          username: this.username,
          password: this.password,
          admin: this.admin
        }
      })
      this.loading = false
      this.success = true
      this.username = ''
      this.password = ''
      this.password2 = ''
      this.admin = false
    } catch (e) {
      this.loading = false
      this.error = e.status === 403 ? 'You are not an admin!' : 'Failed to connect to API!'
    }
  }
}
</script>

