<template>
  <div>
    <h1>Conversations</h1>
    <b-alert v-if="error" variant="danger" show>{{ error }}</b-alert>
    <loading-spinner v-else-if="conversations === null"/>
    <b-list-group v-else>
      <conversation-item v-for="c in conversations" :key="conversations.indexOf(c)" :item="c"/>
    </b-list-group>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-typed"
import Vue from 'vue'
import config from '../config'
import { ConversationEntry } from '../data-model'

@Component({})
export default class Conversations extends Vue {
  conversations: ConversationEntry[] | null = []
  error = ''

  async mounted() {
    try {
      this.conversations = await $.ajax(`${config.apiBase}/recent?token=${this.$store.state.authToken}&limit=100`)
    } catch (e) {
      this.error = 'Failed to load conversations from API!'
    }
  }
}
</script>

