<template>
  <b-card class="my-3" :title="`Direct messaging with ${$route.params.other }`" style="padding: 0; height: calc(100vh - 5.5rem)">
    <b-alert v-if="error" variant="danger" show>{{ error }}</b-alert>
    <loading-spinner v-else-if="messages === null"/>
    <div v-else>
      <div v-for="message in messages" :key="message.id" :class="message.me ? 'message-right' : 'message-left'">
        <small class="text-muted">{{ renderTimestamp(message) }}</small>
        <p class="bubble">{{ message.text }}</p>
      </div>
      <b-button v-if="!atBottom()" variant="info" style="position: absolute; right: 2em; bottom: 5em; width: 2.5em; height: 2.5em; border-radius: 1.25em;" @click="scroll">↓</b-button>
    </div>
    <template slot="footer">
      <b-form class="d-flex flex-row" @submit.prevent="send">
        <b-form-input v-model="draft" class="flex-grow-1 mr-2" style="display: block; width: auto"/>
        <b-button type="submit" variant="primary" style="display: block" :disabled="messages === null">Send</b-button>
      </b-form>
    </template>
  </b-card>
</template>

<script lang="ts">
import { Component } from 'vue-typed'
import Vue from 'vue'
import config from '../config'
import * as moment from 'moment'
import { send, addMessageHandler, MessageHandler, removeMessageHandler } from '../live'
import { nextTick } from '../utils'

interface Message {
  id: number
  me: boolean
  timestamp: string
  readReceipt: boolean
  text: string
}

var messageHandler: MessageHandler
var unknownCounter = 0

@Component({})
export default class Comversations_Direct extends Vue {
  messages: Message[] | null = null
  error = ''
  draft = ''

  get cardBody() {
    return $(this.$el).find('.card-body')[0]
  }

  atBottom() {
    const el = this.cardBody
    return Math.abs(el.scrollTop - el.scrollHeight + el.clientHeight) < 2
  }

  async mounted() {
    messageHandler = (type, target, id, text) => {
      if (this.messages && type === 'direct' && target === this.$route.params.other) {
        this.addMessage({
          id,
          me: false,
          timestamp: Date(),
          readReceipt: false,
          text
        })
        return true
      }
      return false
    }
    addMessageHandler(messageHandler)
    try {
      this.messages = await $.ajax(`${config.apiBase}/messages/direct/${this.$route.params.other}?token=${this.$store.state.authToken}&limit=50`)
      await nextTick()
      this.scroll()
      this.cardBody.onscroll = () => this.$forceUpdate()
    } catch (_) {
      this.error = 'Failed to load messages from API!'
    }
  }

  beforeDestroy() {
    removeMessageHandler(messageHandler)
  }

  renderTimestamp(message: Message) {
    return moment(message.timestamp).calendar()
  }

  send() {
    send(`message:direct/${encodeURIComponent(this.$route.params.other)}/${this.draft}`)
    this.addMessage({
      id: -unknownCounter++,
      me: true,
      timestamp: Date(),
      readReceipt: false,
      text: this.draft
    })
    this.draft = ''
  }

  scroll() {
    const el = this.cardBody
    el.scrollTop = el.scrollHeight - el.clientHeight
  }

  async addMessage(message: Message) {
    const atBottom = this.atBottom()
    this.messages!.push(message)
    if (atBottom) {
      await nextTick()
      this.scroll()
    }
  }
}
</script>

<style scoped>
.card-body {
  overflow-y: scroll;
  padding-top: 4.5rem;
}

.card-body h4 {
  position: absolute;
  top: 0px;
  margin-left: -1.25rem;
  margin-right: 1.25rem;
  padding: 1.25rem;
  width: calc(100% - 1.25rem);
  background: white;
}

.message-left, .message-right {
  border-top: lightgray 1px solid;
}

.message-left {
  text-align: left;
}

.message-right {
  text-align: right;
}

small::after {
  content: '\a';
  white-space: pre;
}

.bubble {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  max-width: calc(100% - 5rem);
  color: white;
}

.message-left .bubble {
  background-color: var(--primary);
}

.message-right .bubble {
  background-color: var(--secondary);
}
</style>

