<template>
  <div>
    <h1>Welcome!</h1>
    <b-form @submit.prevent="send" class="my-3">
      <b-form-input v-model="message"/>
      <b-button type="submit">Send</b-button>
    </b-form>
    <b-card-group deck>
      <b-card title="Recent conversations">
        <b-list-group v-if="recent">
          <conversation-item v-for="item in recent" :key="recent.indexOf(item)" :item="item"/>
          <b-list-group-item to="/conversations" class="text-center">View all</b-list-group-item>
        </b-list-group>
        <b-alert v-else-if="recentFailed" variant="danger" show>Failed to load recent conversations!</b-alert>
        <loading-spinner v-else/>
      </b-card>
      <b-card title="Online">
      </b-card>
    </b-card-group>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-typed'
import Vue from 'vue'
import { send } from '../live'
import config from '../config'
import { ConversationEntry } from '../data-model'

@Component({})
export default class Home extends Vue {
  message = ''
  recent: ConversationEntry[] | null = null
  recentFailed = false

  async mounted() {
    try {
      this.recent = await $.ajax(`${config.apiBase}/recent?token=${this.$store.state.authToken}&limit=10`)
    } catch (e) {
      this.recentFailed = true
    }
  }

  send() {
    send(this.message)
    this.message = ''
  }
}
</script>

