<template>
  <loading-spinner v-if="loading" class="mt-3"/>
  <div v-else>
    <b-alert v-if="error" variant="danger" show dismissible>{{ error }}</b-alert>
    <b-form @submit.prevent="login">
      <b-form-group label="Username" label-for="username">
        <b-form-input type="text" v-model="username" id="username"/>
      </b-form-group>
      <b-form-group label="Password" label-for="password">
        <b-form-input type="password" v-model="password" id="password"/>
      </b-form-group>
      <b-button variant="primary" type="submit">Log in</b-button>
    </b-form>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-typed'
import Vue from 'vue'
import { nextTick } from '../utils'
import config from '../config'

@Component({})
export default class Login extends Vue {
  loading = false
  username = ''
  password = ''
  error = ''

  async login() {
    this.loading = true
    this.error = ''
    await nextTick()
    try {
      const data = await $.ajax(`${config.apiBase}/login`, {
        method: 'POST',
        data: {
          username: this.username,
          password: this.password
        }
      })
      this.$store.commit('updateAuth', data)
      this.$router.push(this.$route.params.next)
    } catch (e) {
      this.loading = false
      this.error = e.status === 403 ? 'Incorrect username or password!' : 'Failed to connect to API!'
    }
  }
}
</script>

