<template>
  <loading-spinner/>
</template>

<script lang="ts">
import { Component } from 'vue-typed'
import Vue from 'vue'
import config from '../config'

@Component({})
export default class Logout extends Vue {
  async mounted() {
    try {
      await $.ajax(`${config.apiBase}/logout`, {
        method: 'POST',
        data: {
          token: this.$store.state.authToken
        }
      })
    } catch {}
    this.$store.commit('updateAuth', {
      token: null,
      admin: false
    })
    this.$router.push('/')
  }
}
</script>

