<template>
  <b-list-group-item :to="`/conversations/${item.group ? 'group' : 'direct'}/${encodeURIComponent(item.target)}`">
    <h5>{{ item.target }}</h5>
    <p style="font-weight: normal; font-size: 0.7rem; color: darkgrey" class="my-0">{{ renderTimestamp(item) }}</p>
    <p>{{ item.preview }}</p>
  </b-list-group-item>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-typed'
import Vue from 'vue'
import * as moment from 'moment'
import { ConversationEntry } from '../data-model'

@Component({})
export default class ConversationItem extends Vue {
  @Prop({
    type: Object,
    required: true
  }) item!: ConversationEntry

  renderTimestamp(item: ConversationEntry) {
    return moment(item.timestamp).calendar()
  }
}
</script>

