<template>
  <div class="d-flex flex-column" style="min-height: 100%">
    <b-navbar toggleable="md" type="light" variant="light" style="height: 3.5rem">
      <b-navbar-brand to="/">chat.nickmertin.ca</b-navbar-brand>
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav v-if="$store.getters.authenticated">
          <b-nav-item to="/home">Home</b-nav-item>
          <b-nav-item to="/conversations">Conversations</b-nav-item>
          <b-nav-item v-if="$store.state.admin" to="/admin">Admin</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <li v-if="$store.getters.authenticated" class="my-auto">
            <b-badge variant="success" v-if="$store.state.ws">Connected</b-badge>
            <b-badge variant="danger" v-else>Attempting to reconnect <hollow-dots-spinner style="display: inline-block" :animation-duration="1000" :dot-size="10" :dots-num="3" color="white"/></b-badge>
          </li>
          <b-nav-item to="/logout">Log Out</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container class="row flex-grow-1 mx-auto">
      <router-view class="col flex-grow-1" style="width: 100%"/>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-typed'
import Vue from 'vue'

@Component({})
export default class App extends Vue {
}
</script>

